[features]
seeds = false
skip-lint = false

[programs.localnet]
pir8_game = "5etQW394NUCprU1ikrbDysFeCGGRYY9usChGpaox9oiK"

[programs.devnet]
pir8_game = "5etQW394NUCprU1ikrbDysFeCGGRYY9usChGpaox9oiK"

[programs.mainnet]
pir8_game = "5etQW394NUCprU1ikrbDysFeCGGRYY9usChGpaox9oiK"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"